.animated-checkbox {
  display: flex;
  align-items: center;
}
.fa-icon {
  font-size: 1.3em;
  padding-right: 0.5em;
  cursor: pointer;
}
.fa-icon.checked {
  color: $color-secondary;
}

.animated-checkbox input[type="checkbox"] {
  display: none;
}

.animated-checkbox input[type="checkbox"] + .label-text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

// .animated-checkbox input[type="checkbox"] + .label-text::before {
//   content: "\f0c8";
//   font-family: "FontAwesome ";
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   font-size: 18px;
//   -webkit-font-smoothing: antialiased;
//   width: 1em;
//   display: inline-block;
//   margin-right: 2px;
//   vertical-align: -2px;
// }

// .animated-checkbox input[type="checkbox"]:checked + .label-text:before {
//   content: "\f14a";
//   color: var(--bg-color3);
//   animation: tick 180ms ease-in;
// }

// .animated-checkbox input[type="checkbox"]:disabled + .label-text {
//   cursor: not-allowed !important;
// }

// .animated-checkbox input[type="checkbox"]:disabled + .label-text:before {
//   content: "\f0c8";
//   color: #ccc;
// }

.animated-radio-button input[type="radio"] {
  display: none;
}

.animated-radio-button input[type="radio"] + .label-text {
  cursor: pointer !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.animated-radio-button input[type="radio"] + .label-text:before {
  content: "\f1db";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 2px;
  vertical-align: -2px;
}

.animated-radio-button input[type="radio"]:checked + .label-text:before {
  content: "\f192";
  color: #009688;
  animation: tick 180ms ease-in;
}

.animated-radio-button input[type="radio"]:disabled + .label-text {
  cursor: not-allowed !important;
}

.animated-radio-button input[type="radio"]:disabled + .label-text:before {
  content: "\f111";
  color: #ccc;
}
