.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: $bg-color;
  color: $color-p-darken;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 2vh 0;
  .nav__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    .image__container {
      width: 150px;
      min-width: 150px;
      img {
        max-width: 100%;
        object-fit: contain;
      }
    }
    .navbar__wrapper {
      flex: 1;
    }
  }

  .user-menu__wrapper {
    flex: 1;
    &:empty {
      display: none;
    }
  }
}
