%link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0 6%;
  text-align: center;
  list-style: none;
  font-size: 1rem;
}

@mixin link($color: "var(--bg-color3)") {
  display: inline;
  color: #{$color};
  background: transparent;
  border: none;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
}
@mixin link-hover($color: "var(--bg-color1)") {
  color: #{$color};
  opacity: 1;
}
