/*
-------------------------------------------
                    Color
-------------------------------------------
*/
$color-white: #fff;

$color-gray0: #e5e5e5;
$color-gray1: #ddd;

$color-bg: #333;
$color-font: #e5e5e5;
$color-primary: #69156a;
$color-secondary: #ffb703;
$color-p-lighten: #8a178c;
$color-p-darken: #521e87;

/*
-------------------------------------------
                    Border
-------------------------------------------
*/
$border-radius-10: 10px;
$border-radius-3: 3px;

$border-decoration: 1px solid $color-gray0;
