.subtitle{
    margin-top: 20px;
}
.activ {
  border: 1px solid #e2e2e2;
  padding: 17px;
  /* margin: 11px; */
  min-height: 54px;

  svg {
    float: right;
    width: 60px;
    margin-top: -22px;

  }
}
