#slider {
  text-align: center;
}

img {
  border-radius: 50%;
}

.creator_info .col-sm-8 {
  height: 250px;
  border-radius: 10px;
}

.creator_image {
  background-color: #e0c9b0;
  padding: 10px;

  img {
    height: 250px;
    width: 250px;
  }
}
