<section class="content">
  <app-wrapper-form>
    <div class="tab-pane fade in active">
      <form [formGroup]="register" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
          <label class="form-label">NICKNAME</label>
          <input
            class="form-control"
            type="text"
            formControlName="usuNickname"
          />
          <span class="input__error">Error</span>
        </div>
        <div class="form-group">
          <label class="form-label">CORREO ELECTRONICO</label>
          <input
            class="form-control"
            type="email"
            formControlName="usuCorreo"
          />
          <span class="input__error">Error</span>
        </div>
        <div class="form-group">
          <label class="form-label">CONTRASEÑA</label>
          <input
            class="form-control"
            type="password"
            formControlName="usuClave"
          />
          <span class="input__error">Error</span>
        </div>
        <div class="form-group">
          <label class="form-label">CONFIRMAR CONTRASEÑA</label>
          <input
            class="form-control"
            type="password2"
            formControlName="usuClave2"
          />
          <span class="input__error">Error</span>
        </div>
        <div class="form-group">
          <div class="utility">
            <div class="animated-checkbox">
              <fa-icon
                class="fa-icon"
                [class.checked]="isChecked"
                [icon]="!isChecked ? iconCheck : iconUncheck"
                (click)="onChecked()"
              ></fa-icon>
              <input
                type="checkbox"
                name="accept-terms"
                id="accept-terms"
                (input)="onChecked()"
                required
              />
              <label class="label-text semibold-text" for="accept-terms">
                Acepto
              </label>
              <button class="link bold" (click)="onClick()">
                Términos y condiciones
              </button>
            </div>
          </div>
        </div>
        <div class="form-group btn-container">
          <button
            class="button button-primary button-block"
            type="submit"
            [disabled]="isLoading"
          >
            Signup
          </button>
        </div>
        <div class="form-group register-terms">
          Al registrarse acepta la
          <!--  NEEDS SANITIZER  -->
          <button class="link bold">
            Política de privacidad y protección de datos.
          </button>
        </div>
      </form>
    </div>
  </app-wrapper-form>
</section>
