<header class="item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/logo.svg" />
      </div>
      <div class="col-sm-6">
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-7">
            <div class="">Síguenos en las redes:</div>
          </div> -->
        <!-- <div class="col-sm-5"> -->
        <nav class="socials">
          <ul class="icons-social">
            <li class="label">Síguenos en las redes:</li>
            <li>
              <a href="https://www.facebook.com/groups/2637132626546045">
                <fa-icon [icon]="facebook"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/5Bb5yvzNPr">
                <fa-icon [icon]="discord"></fa-icon>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UC0oi8uH1vxDcyt7b_3iByew"
              >
                <fa-icon [icon]="youtube"></fa-icon>
              </a>
            </li>
          </ul>
        </nav>
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</header>
