<div class="counter__container">
  <div class="counter__days counter__block">
    <div class="counter__digit"></div>
    <div class="counter__digit"></div>
  </div>
  <div class="counter__hours counter__block">
    <div class="counter__digit"></div>
    <div class="counter__digit"></div>
  </div>
  <div class="counter__minutes counter__block">
    <div class="counter__digit"></div>
    <div class="counter__digit"></div>
  </div>
  <div class="counter__seoconds counter__block">
    <div class="counter__digit"></div>
    <div class="counter__digit"></div>
  </div>
</div>
