<nav class="navbar" *ngIf="user; else socials">
  <ul class="navbar__links">
    <li class="navbar__item">
      <a
        routerLink="/home"
        class="link navbar__link"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home
      </a>
    </li>
    <li class="navbar__item">
      <a
        routerLink="/communities"
        class="link navbar__link"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
        >Comunidades
      </a>
    </li>
    <li class="navbar__item">
      <a
        routerLink="#"
        class="link navbar__link"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
        >Talleres
      </a>
    </li>
    <li class="navbar__item">
      <a
        routerLink="#"
        class="link navbar__link"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
        >Creadores de contenido
      </a>
    </li>
  </ul>
</nav>
<ng-template #socials>
  <app-social></app-social>
</ng-template>
