<div style="margin-left: 50px; margin-right: 50px; text-align: center;">
    <br>
    <a routerLink="/" class="button button-primary" style="padding: auto;"> Go home </a>
    <br><br>



    <p align="center">
        <strong>Lorem Ipsum</strong>
    </p>

    <div align="center">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ligula scelerisque, cursus enim at, ultrices quam. Sed vehicula erat sed purus scelerisque, quis auctor neque fermentum. Fusce a neque odio. Nullam porttitor libero a laoreet posuere. Curabitur
            sed odio eget justo fermentum auctor. Suspendisse quis convallis ligula. Proin ligula urna, volutpat sit amet quam et, lacinia auctor augue. Mauris venenatis finibus molestie.
        </p>
        <p>
            Morbi rutrum efficitur enim, et dictum justo aliquet et. Quisque magna eros, aliquam eu diam et, lacinia congue lorem. Etiam aliquet nulla quis lorem congue venenatis. Ut eget sem ut enim sollicitudin congue. Etiam in mattis augue. Ut placerat egestas
            sem. Integer ut lorem leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam sed magna leo. Etiam metus purus, venenatis ut facilisis ut, aliquet consequat neque. Integer imperdiet, ligula in volutpat
            elementum, est orci ultricies lorem, in euismod tellus arcu quis massa. Proin quis lectus dictum, vehicula nibh placerat, commodo ex. Aenean a rhoncus velit, a facilisis arcu. Pellentesque elit nunc, mattis sed odio in, lacinia commodo arcu.
            Etiam sodales imperdiet enim, at tincidunt mauris viverra imperdiet. Maecenas dolor justo, vulputate vitae justo vehicula, commodo rhoncus urna.
        </p>
        <p>
            Fusce sed pulvinar turpis. Vestibulum eu suscipit augue. Morbi ac nibh efficitur, suscipit odio quis, eleifend est. In ante ex, porta sed nunc id, varius bibendum mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nullam efficitur facilisis tincidunt. Aliquam eu ex eget lacus bibendum sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a aliquet odio, sit amet scelerisque ipsum. Vestibulum aliquet eros
            non ex dictum, quis posuere urna consectetur. Nam ligula magna, auctor eget elementum nec, auctor non lacus. Integer bibendum, justo non commodo feugiat, nibh orci tristique lorem, nec laoreet quam lectus nec sem. Vivamus id egestas turpis.
            Aliquam erat volutpat. Donec vehicula nibh massa, eu elementum quam tempor interdum. Etiam lobortis porta nibh vitae tristique.
        </p>
    </div>
    <br>
    <br>
    <br>
    <p>
        Sed porta enim sed aliquet lacinia. Integer elementum orci quis nisi luctus, id bibendum velit suscipit. Duis quis nisi ornare, finibus tellus ac, sollicitudin massa. Integer luctus rutrum posuere. Proin finibus egestas metus sed auctor. Maecenas magna
        ligula, mollis a tincidunt elementum, posuere vel est. Quisque vel faucibus tortor. Praesent orci mauris, tempus sed laoreet et, cursus sit amet enim.
    </p>



    <p>Copyright © 2021 Freelancer Technology Pty Limited (ACN 141 959 042)</p>

</div>
