<div class="container layout">
  <div class="row">
    <app-communities></app-communities>

    <div class="col-sm-8 center">
      <h1>Bienvenidos a Community Fest and Code</h1>
      <h2>¡Conoce gente, aprende y gana!</h2>
      <p>
        La próxima edición regresa en el 2022, en la cual se planea involucrar a
        todos los programadores independientmente del area de conocimiento que
        se encuentre, todo con un mismo proposito, aprender en comunidad.
      </p>
      <h2>Ellos ya creen en esta iniciativa:</h2>

      <div class="right">
        <a href="#" class="button_ap">Apoyar Iniciativa</a>
      </div>

      <app-slider></app-slider>

      <app-sponsors></app-sponsors>

      <app-counter> </app-counter>
    </div>
  </div>
</div>
