<nav class="socials">
  <p class="label">Síguenos en las redes:</p>
  <ul class="socials__links">
    <li class="socials__item">
      <a
        class="link socials__link"
        [href]="
          'https://www.facebook.com/groups/2637132626546045' | domSanitizer
        "
        target="_blank"
      >
        <span class="fab facebook"></span>
      </a>
    </li>
    <li class="socials__item">
      <a
        class="link socials__link"
        [href]="'https://discord.gg/5Bb5yvzNPr' | domSanitizer"
        target="_blank"
      >
        <span class="fab discord"></span>
      </a>
    </li>
    <li class="socials__item">
      <a
        class="link socials__link"
        [href]="
          'https://www.youtube.com/channel/UC0oi8uH1vxDcyt7b_3iByew'
            | domSanitizer
        "
        target="_blank"
      >
        <span class="fab youtube"></span>
      </a>
    </li>
  </ul>
</nav>
