.card-group {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 150px;
    height: 386px;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 15%);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  
    .card-g-img {
      background: #000000;
      height: 252px;
      overflow: hidden;
  
      .share {
        position: absolute;
        right: 0px;
        z-index: 1;
        background: #E4E4E4;
        width: 40px;
        height: 35px;
        padding: 8px 0;
        border-radius: 0 0 0 10px;
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        -webkti-box-sizing: border-box;
        box-sizing: border-box;
      }
  
      img {
        display: block;
        width: 120%;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
      }
    }
  
    .card-g-content {
      position: absolute;
      bottom: 0;
      background: #FFFFFF;
      width: 100%;
      padding: 19px;
      -webkti-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
      -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
      -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
      transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  
      .lenguage {
        position: absolute;
        top: -34px;
        left: 0;
        background: #A0BEEC;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
  
      .title {
        margin: 0;
        padding: 0 0 10px;
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  
  .hover .card-g-content .description {
    // display: none; height: 99px; opacity: 1;
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }
  
  .card-group .card-g-content .card-g-foot {
    margin: 30px 0 0;
    color: #999999;
  }
  .search_group {
    padding: 0px 31px;

    input {
      margin-left: 5px;
      margin-right: -5px;
      padding: 9px;
    }
}
.list_data ul li.my_group_footer:hover {
  background-color: #4f1d50 !important;
}