<button class="button button-primary" routerLink="/profile">Regresar</button>
<section class="content">
  <div class="tab-pane fade in active">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label class="form-label">NICKNAME</label>
        <input
          class="form-control"
          [class.error]="nickErrors"
          type="text"
          placeholder="Escriba su nickname"
          formControlName="usuNickname"
        />
        <span class="input__error" *ngIf="nickErrors">
          {{ nickErrors | validationErrors }}
        </span>
        <a
          routerLink="/forgot"
          class="link input__error"
          *ngIf="nickErrors && nickErrors.notAvailable"
        >
          <strong> ¿Olvido su contraseña? ¡Click Aqui! </strong>
        </a>
      </div>
      <div class="form-group">
        <label class="form-label">CORREO ELECTRÓNICO</label>
        <input
          class="form-control"
          [class.error]="emailErrors"
          placeholder="Escriba su email"
          type="email"
          formControlName="usuCorreo"
        />
        <span class="input__error" *ngIf="emailErrors">
          {{ emailErrors | validationErrors }}
        </span>
        <a
          routerLink="/forgot"
          class="link input__error"
          *ngIf="emailErrors && emailErrors.notAvailable"
        >
          <strong> ¿Olvido su contraseña? ¡Click Aqui! </strong>
        </a>
      </div>
      <div class="form-group">
        <label class="form-label">CONTRASEÑA</label>
        <input
          class="form-control"
          [class.error]="passErrors"
          placeholder="Escriba su contraseña"
          type="password"
          formControlName="usuClave"
        />
        <span class="input__error" *ngIf="passErrors">
          {{ passErrors | validationErrors }}
        </span>
      </div>
      <div class="form-group">
        <label class="form-label">CONFIRMAR CONTRASEÑA</label>
        <input
          class="form-control"
          placeholder="Confirme su contraseña"
          [class.error]="confirmErrors"
          type="password"
          formControlName="usuClave2"
        />
        <span class="input__error" *ngIf="confirmErrors">
          {{ confirmErrors | validationErrors }}
        </span>
      </div>

      <div class="form-group">
        <label class="form-label">GENERO</label>
        <select
          class="form-control"
          [class.error]="generoErrors"
          type="text"
          formControlName="genero"
        >
          <option value="">Seleccione una opción</option>
          <option value="0">Se identifica con hombre</option>
          <option value="1">Se identifica con mujer</option>
          <option value="2">Prefiero no contestar</option>
        </select>
        <span class="input__error" *ngIf="generoErrors">
          {{ generoErrors | validationErrors }}
        </span>
      </div>
      <div class="form-group">
        <label class="form-label">País</label>
        <input
          class="form-control"
          placeholder="Escriba su país"
          type="text"
          formControlName="pais"
        />
      </div>

      <div class="form-group">
        <label class="form-label">BIOGRAFÍA</label>
        <textarea
          class="form-control"
          [class.error]="biografiaErrors"
          placeholder="Escriba un pequeñoo fragmento que lo describa"
          type="text"
          formControlName="biografia"
        ></textarea>
        <span class="input__error" *ngIf="biografiaErrors">
          {{ biografiaErrors | validationErrors }}
        </span>
      </div>
      <!-- 
      <div class="form-group">
        <label class="form-label">CONOCIMIENTOS</label>
        <select
          class="form-control"
          type="text"
          formControlName="conocimientos"
          multiple
        >
          <option value="frontend">Front end</option>
          <option value="backend">Backend</option>
          <option value="devops">DevOps</option>
          <option value="videogame">Video Game Developers</option>
          <option value="uiux">UI/UX</option>
          <option value="database">Database Developer</option>
          <option value="cloud">Cloud Computing</option>
        </select>
      </div>

      <div class="form-nested__child" formArrayName="redesSociales">
        REDES SOCIALES
        <div class="form-group">
          <label class="form-label">facebook.com/</label>
          <input class="form-control" placeholder="usuario fb" type="text" />
        </div>
        <div class="form-group">
          <label class="form-label">github.com/</label>
          <input class="form-control" placeholder="usuario gh" type="text" />
        </div>
        <div class="form-group">
          <label class="form-label">linkedin.com/in/</label>
          <input class="form-control" placeholder="usuario ln" type="text" />
        </div>
        <div class="form-group">
          <label class="form-label">twitter.com/</label>
          <input class="form-control" placeholder="usuario tw" type="text" />
        </div>
      </div> -->

      <div class="form-group btn-container">
        <button
          class="button button-primary button-block"
          type="submit"
          [disabled]="isLoading"
        >
          Guardar Cambio
        </button>
      </div>
    </form>
  </div>
</section>
