<div class="submenu-general">
  {{ actualPath }}
  <ul class="submenu-general__links">
    <li class="submenu-general__item">
      <button
        class="button button-secondary submenu-general__link"
        (click)="navTo('')"
      >
        Mi Perfil
      </button>
    </li>
    <li class="submenu-general__item">
      <button
        class="button button-secondary submenu-general__link"
        (click)="navTo('badges')"
      >
        Insignias
      </button>
    </li>
    <li class="submenu-general__item">
      <button
        class="button button-secondary submenu-general__link"
        (click)="navTo('groups')"
      >
        Grupos
      </button>
    </li>
    <li class="submenu-general__item">
      <button
        class="button button-secondary submenu-general__link"
        (click)="navTo('events')"
      >
        Eventos
      </button>
    </li>
  </ul>
</div>
