<div class="submenu-general">
  <ul class="submenu-general__links">
    <li
      class="submenu-general__item"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        class="button button-secondary submenu-general__link"
        [routerLink]="['profile']"
      >
        Mi Perfil
      </a>
    </li>
    <li
      class="submenu-general__item"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        class="button button-secondary submenu-general__link"
        (click)="navTo('badges')"
      >
        Insignias
      </a>
    </li>
    <li
      class="submenu-general__item"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        class="button button-secondary submenu-general__link"
        (click)="navTo('groups')"
      >
        Grupos
      </a>
    </li>
    <li
      class="submenu-general__item"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        class="button button-secondary submenu-general__link"
        (click)="navTo('events')"
      >
        Eventos
      </a>
    </li>
  </ul>
</div>
