a.icon svg {
    height: 20px;
    margin-bottom: -5px;
}

svg path {
    fill: white;
}

.submenu_color_1{
    background-color: #521e87;
}
.submenu_color_2{
    background-color: brown;
}
.submenu_color_3{
    background-color: #00275a;
}
.submenu_color_4{
    background-color: #bf6845;
}