@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "TypoGraphica";
  src: url("https://aprendiendocalculo.com/portal1/fuentes/TypoGraphica.otf");
}

:root {
  --bg-color1: #{$color-primary};
  --bg-color2: #{$color-p-lighten};
  --bg-color3: #{$color-secondary};
  --bg-color4: #{$color-p-darken};
  --bg-color5: #{$color-bg};
  --bg-color: #{$bg-color};
  --font-color: #{$font-color};
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  color: $color-white;
  background-color: var(--bg-color3);
}

::selection {
  color: $color-white;
  background-color: var(--bg-color3);
}
html {
  font-size: 14px;
}
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.428571429;
  color: $color-bg;
  margin: 0px;
  background-image: url("../../assets/images/logo-light.svg");
  background-size: 500px 500px;
  background-position: 100px;
  background-blend-mode: color-dodge;
  background-repeat: space;
  background-position: unset;
}
// body::after {
//   content: "";
//   height: 60vh;
//   left: 0;
//   bottom: -100px;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

label {
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg {
  color: currentColor;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.margin-15 {
  margin: 15px;
}
